{% set press = company.press %}
{% set twitter = company.twitter %}
{% set linkedin = company.linkedin %}
{% set address = company.address %}

<footer class="main-footer">
  <div container="narrow">
    <p>{{ address }}</p>

    {% if press or twitter or linkedin %}
      <ul class="links">
        {% if press %}
          <li>
            <a href="{{ press }}" title="View the at.inc press kit">
              Press Kit
            </a>
          </li>
        {% endif %}

        {% if twitter %}
          <li>
            <a href="{{ twitter }}" title="Follow at.inc on Twitter">
              <img src="static/images/icon-twitter.svg">
            </a>
          </li>
        {% endif %}
        
        {% if linkedin %}
          <li>
            <a href="{{ linkedin }}" title="Follow at.inc on LinkedIn">
              <img src="static/images/icon-linkedin.svg">
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</footer>

<div class="cui-embed" data-cui-uid="AJMaZH" data-cui-avatar="https://images.typeform.com/images/c6SsqWQ6g3Ci" data-cui-mode="pill" data-cui-pill-button-color="#D1FBB7"></div><script src="https://public-assets.typeform.com/confab/embed.js" async></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.10.2/underscore-min.min.js" integrity="sha256-+AhYWF5Swwvejg1wLQveGkNhyO9WR8gyv6hyhuTTnv8=" crossorigin="anonymous"></script>

{% set js %}
  {% include "assets/js/app.js" %}
{% endset %}
  
<script>{{ js | jsmin | safe }}</script>