{# <nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav> #}

<nav class="main-nav">
  <a class="logo" href="#intro" title="Top of the page">
    {{ metadata.title }}
  </a>

  <div class="menu">
    <div class="icon">
      <img class="open" src="static/images/menu-open.svg" title="Open Menu">
      <img class="close" src="static/images/menu-close.svg" title="Close Menu">
    </div>

    <ul class="list">
      <li><a href="#companies">Companies</a></li>
      <li><a href="#team">People</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

    <p class="address">268 Bush St. #4123 San Francisco, CA 94104</p>

    <div class="social-links">
      <a href="#">Press Kit</a>

      <div>
        <a href="#"><img src="static/images/icon-twitter.svg"></a>
        <a href="#"><img src="static/images/icon-linkedin.svg"></a>
      </div>
    </div>
  </div>
</nav>