{% set press = company.press %}
{% set twitter = company.twitter %}
{% set linkedin = company.linkedin %}
{% set address = company.address %}

<nav class="main-nav">
  <a class="logo" href="#intro" title="Top of the page">
    {{ metadata.title }}
  </a>

  <div class="menu">
    <div class="icon">
      <img class="open" src="static/images/menu-open.svg" title="Open Menu">
      <img class="close" src="static/images/menu-close.svg" title="Close Menu">
    </div>

    <ul class="list">
      {% for item in navigation %}
        <li>
          <a href="{{ item.location }}" title="{{ item.title }}">
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <p class="address">
      {{ address }}
    </p>

    <div class="social-links">
      <a href="{{ press }}" title="View the at.inc press kit">
        Press Kit
      </a>

      <div>
        {% if twitter %}
          <a href="{{ twitter }}" title="Follow at.inc on Twitter">
            <img src="static/images/icon-twitter.svg">
          </a>
        {% endif %}
        
        {% if linkedin %}
          <a href="{{ linkedin }}" title="Follow at.inc on LinkedIn">
            <img src="static/images/icon-linkedin.svg">
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>