<nav class="main-nav">
  <a class="logo" href="#intro" title="Top of the page">
    {{ metadata.title }}
  </a>

  <div class="menu">
    <div class="icon">
      <img class="open" src="static/images/menu-open.svg" title="Open Menu">
      <img class="close" src="static/images/menu-close.svg" title="Close Menu">
    </div>

    <ul class="list">
      {% for item in navigation %}
        <li>
          <a href="{{ item.location }}" title="{{ item.title }}">
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <p class="address">268 Bush St. #4123 San Francisco, CA 94104</p>

    <div class="social-links">
      <a href="#">Press Kit</a>

      <div>
        <a href="#"><img src="static/images/icon-twitter.svg"></a>
        <a href="#"><img src="static/images/icon-linkedin.svg"></a>
      </div>
    </div>
  </div>
</nav>