---
layout: layouts/base.njk
section: page
---

<header id="intro" class="main-header" container="narrow">
  <div grid="center">
    <div column="12 s7">
      <h1>
        {{ sectionOne.headline | safe }}
      </h1>

      <p class="section-intro">
        {{ sectionOne.description | safe }}
      </p>
    </div>

    <div column="12 s5">
      <img class="-fluid" src="static/images/illustration-1.svg">
    </div>
  </div>

    <a href="#principles" title="See our principles">
    <img class="go-down" src="static/images/arrow-down.svg">
  </a>
</header>

<section id="principles" class="principles-section">
  <div container="narrow">
    <div grid>
      <div column="12 s7">
        <h1>
          {{ sectionTwo.headline | safe }}
        </h1>
      </div>

      <div column="12 s5">
        <ul class="principle-list">

          {% for item in sectionTwo.items %}
            <li>
              <span class="number">
                0{{ loop.index }}
              </span>
              <span>
                {{ item }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="illustration-2">
      <img src="static/images/illustration-2.svg">
    </div>
</section>

{# 
<section id="companies" class="companies-section">
  <div container="narrow">
    <div grid="center">
      <div column="12 s6">
        <h1>
          {{ sectionThree.headline | safe }}
        </h1>

        <ul class="companies-list">
          {% for company in sectionThree.companies %}
            <li data-target="{{ company.name | lower }}">
              <span>at.inc/{{ company.name }}</span>
              <small>{{ company.type }}</small>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div column="12 s6" class="companies-descriptions">
        <img class="companies-illustration" src="static/images/illustration-3.svg">

        {% for company in sectionThree.companies %}
          <article class="company-description {{ company.name | lower }}">
            <h4>
              About {{ company.name }}
            </h4>

            <p>
              {{ company.description }}
            </p>

            <h4>
              Industry
            </h4>

            <p>
              {{ company.industry }}
            </p>

            <h4>
              Investment Type
            </h4>

            <p>
              {{ company.type }}
            </p>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="team" class="team-section" container="narrow">
  <div grid>
    <div column="12 s7">
      <div class="team-section-header">
        <h1>
          {{ sectionFour.headline | safe }}
        </h1>
        
        <p class="section-intro">
          {{ sectionFour.description }}
        </p>
      </div>
    </div>

    <div class="team-list" column="12 s5">
      {% for person in sectionFour.team %}
        {% set name = person.name %}
        {% set image = person.image %}
        {% set twitter = person.twitter %}
        {% set linkedin = person.linkedin %}
        {% set title = person.title %}
        {% set location = person.location %}
        {% set description = person.description %}

        <article class="team-member">
          {% if image %}
            <div class="picture">
              <img src="static/images/{{ image }}" alt="{{ name }}">
            </div>
          {% endif %}

          <header>
            <h3>
              {{ person.name }}
            </h3>

            {% if twitter or linkedin %}
              <ul class="social-links">
                {% if twitter %}
                  <li>
                    <a href="{{ twitter }}">
                      <img src="static/images/icon-twitter.svg">
                    </a>
                  </li>
                {% endif %}

                {% if linkedin %}
                  <li>
                    <a href="{{ linkedin }}">
                      <img src="static/images/icon-linkedin.svg">
                    </a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </header>
          
          {% if title or location %}
          <ul class="meta">
            {% if title %}
              <li class="title">
                {{ title }}
              </li>
            {% endif %}

            {% if location %}
              <li class="location">
                {{ location }}
              </li>
            {% endif %}
          </ul>
          {% endif %}

          {% if description %}
            <p>
              {{ description }}
            </p>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </div>
</section>

<section id="contact" class="contact-section" container="narrow">
  <div grid="center">
    <div column="12 s5 #2 s#1">
      <h2>
        {{ sectionFive.headline | safe }}
      </h2>

      <p class="section-intro">
        {{ sectionFive.description | safe }}
      </p>

      <p class="huge-cta-mobile">
        <a href="{{ sectionFive.cta_link }}" title="{{ cta_title }}">
          {{ sectionFive.cta_text }}
        </a>
      </p>
    </div>

    <a href="{{ sectionFive.cta_link }}" column="12 s7 #1 s#2" class="-right" title="{{ cta_title }}">
      <img class="-fluid" src="static/images/illustration-4.svg">

      <p class="huge-cta">
        {{ sectionFive.cta_text }}
      </p>
    </a>
  </div>
</section> #}