---
layout: layouts/base.njk
section: page
---

{# Section One #}
<header id="intro" class="main-header" container="narrow">
  <div grid="center">
    <div column="12 s7" style="padding-right: 0;">
      <h2>
        {{ sectionOne.headline | safe }}
      </h2>

      {% if sectionOne.description %}
        <p class="section-intro">
          {{ sectionOne.description | nl2br | safe }}
        </p>
      {% endif %}
    </div>

    <div column="12 s5" style="padding-right: 0;">
      <img class="-fluid" src="static/images/ui/illustration-1.svg">
    </div>
  </div>

    <a href="#principles-section" title="See our principles">
    <img class="go-down" src="static/images/ui/arrow-down.svg">
  </a>
</header>

{# Section Two #}
<section id="principles-section" class="principles-section">
  <div container="narrow">
    <div grid>
      <div column="12 s7">
        <h2>
          {{ sectionTwo.headline | safe }}
        </h2>

        {% if sectionTwo.description %}
          <p class="section-intro">
            {{ sectionTwo.description | nl2br | safe }}
          </p>
        {% endif %}
      </div>

      <div column="12 s5">
        <ul class="principle-list">

          {% for principle in sectionTwo.principles %}
            <li>
              <span class="number">
                0{{ loop.index }}
              </span>

              <span>
                {{ principle }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="illustration-2">
      <img src="static/images/ui/illustration-2.svg">
    </div>
  </div>
</section>

{# Section Three #}
<section id="companies-section" class="companies-section">
  <div container="narrow">
    <div grid="center">
      <div column="12 s6">
        <h2>
          {{ sectionThree.headline | safe }}
        </h2>

        {% if sectionThree.description %}
          <p class="section-intro">
            {{ sectionThree.description | nl2br | safe }}
          </p>
        {% endif %}

        <ul class="companies-list">
          {% for company in sectionThree.companies %}
            <li data-target="{{ company.name | replace(' ', '') }}">
              <span class="company-name">at.inc/{{ company.name }}</span>
              <small>{{ company.type }}</small>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div column="12 s6" class="companies-descriptions">
        <img class="companies-illustration" src="static/images/ui/illustration-3.svg">

        {% for company in sectionThree.companies %}
          {% set name = company.name %}
          {% set type = company.type %}
          {% set description = company.description %}
          {% set industry = company.industry %}
          {% set website = company.website %}
          {% set mission = company.mission %}

          <article class="company-description {{ name | replace(' ', '') }} -desktop">
            <h4>
              About {{ name }}
            </h4>

            {% if description %}
              <p>
                {{ description }}
              </p>
            {% endif %}

            {% if mission %}
              <h4>
                Mission
              </h4>

              <p>
                {{ mission }}
              </p>
            {% endif %}

            {% if industry %}
              <h4>
                Industry
              </h4>

              <p>
                {{ industry }}
              </p>
            {% endif %}

            <h4>
              Investment Type
            </h4>

            <p>
              {{ type }}
            </p>

            {% if website %}
              <p>
                <a href="{{ website }}" target="_blank" title="Visit {{ name }}">
                  {{ website }}
                </a>
              </p>
            {% endif %}
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{# Section Four #}
<section id="team-section" class="team-section" container="narrow">
  <div grid>
    <div column="12 s7">
      <div class="team-section-header">
        <h2>
          {{ sectionFour.headline | safe }}
        </h2>

        {% if sectionFour.description %}
          <p class="section-intro">
            {{ sectionFour.description | nl2br | safe }}
          </p>
        {% endif %}
      </div>
    </div>

    <div class="team-list" column="12 s5">
      {% for person in sectionFour.team %}
        {% set name = person.name %}
        {% set image = person.image %}
        {% set social = person.social %}
        {% set title = person.title %}
        {% set location = person.location %}
        {% set description = person.description %}

        <article class="team-member">
          {% if image %}
            <div class="picture">
              <img src="{{ image }}" alt="{{ name }}">
            </div>
          {% endif %}

          <header>
            <h4>
              {{ name }}
            </h4>

            {% if social %}
              {% set twitter = social.twitter %}
              {% set linkedin = social.linkedin %}

              <ul class="social-links">
                {% if twitter %}
                  <li>
                    <a href="{{ twitter }}" title="Follow {{ name }} on Twitter">
                      <img src="static/images/ui/icon-twitter.svg">
                    </a>
                  </li>
                {% endif %}

                {% if linkedin %}
                  <li>
                    <a href="{{ linkedin }}" title="Connect with {{ name }} on LinkedIn">
                      <img src="static/images/ui/icon-linkedin.svg">
                    </a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </header>
          
          {% if title or location %}
            <ul class="meta">
              {% if title %}
                <li class="title">
                  {{ title }}
                </li>
              {% endif %}

              {% if location %}
                <li class="location">
                  {{ location }}
                </li>
              {% endif %}
            </ul>
          {% endif %}

          {% if description %}
            <p>
              {{ description }}
            </p>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </div>
</section>

{# Section Five #}
<section id="contact-section" class="contact-section" container="narrow">
  <div grid="center">
    <div column="12 s5 #2 s#1">
      <h3>
        {{ sectionFive.headline | safe }}
      </h3>

      {% if sectionFive.description %}
        <p class="section-intro">
          {{ sectionFive.description | nl2br | safe }}
        </p>
      {% endif %}

      <p class="huge-cta-mobile">
        <a href="{{ sectionFive.link.location }}" title="{{ sectionFive.link.title }}">
          {{ sectionFive.link.text }}
        </a>
      </p>
    </div>

    <div column="12 s7 #1 s#2" class="-right">
      <img class="-fluid" src="static/images/ui/illustration-4.svg">

      <a href="{{ sectionFive.link.location }}" title="{{ sectionFive.link.title }}" class="huge-cta">
        {{ sectionFive.link.text }}
      </a>
    </div>
  </div>
</section>