---
layout: layouts/base.njk
section: index
---

<header id="intro" class="main-header" container="narrow">
  <div grid="center">
    <div column="12 s7">
      <h1>With you<br>from the start</h1>
      <p class="section-intro">at.inc/ partners with founders at the earliest of stages to bring ideas to life with capital investment and hands-on support.</p>
      <p class="section-intro">Together, we build momentum and set a strong foundation to help you prosper and endure.</p>
    </div>

    <div column="12 s5">
      <img class="-fluid" src="static/images/illustration-1.svg">
    </div>
  </div>

    <a href="#principles" title="See our principles">
    <img class="go-down" src="static/images/arrow-down.svg">
  </a>
</header>

<section id="principles" class="principles-section">
  <div container="narrow">
    <div grid>
      <div column="12 s7">
        <h1>Our guiding principles for operation</h1>
      </div>

      <div column="12 s5">
        <ul class="principle-list">
          <li>
            <span class="number">01</span>
            <span>We gain a deep understanding of the founder’s vision.</span>
          </li>

          <li>
            <span class="number">02</span>
            <span>We don’t invest in product. We invest in people we admire and back their mission 100%.</span>
          </li>

          <li>
            <span class="number">03</span>
            <span>We take an owner’s approach: we roll up our sleeves and share in the responsibility of building an impactful company.</span>
          </li>

          <li>
            <span class="number">04</span>
            <span>We act with the highest integrity, with total empathy for founders, LPs, and partners.</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="illustration-2">
      <img src="static/images/illustration-2.svg">
    </div>
</section>

<section id="companies" class="companies-section">
  <div container="narrow">
    <div grid="center">
      <div column="12 s6">
        <h1>Companies we support</h1>

        <ul class="companies-list">
          <li data-target="thewild">
            <span>at.inc/TheWild</span>
            <small>Lead</small>
          </li>

          <li data-target="sybarip">
            <span>at.inc/SybarIP</span>
            <small>Lead</small>
          </li>

          <li data-target="beehive">
            <span>at.inc/Beehive</span>
            <small>Lead</small>
          </li>

          <li data-target="cortex">
            <span>at.inc/Cortex</span>
            <small>Lead</small>
          </li>

          <li data-target="thewild1">
            <span>at.inc/TheWild</span>
            <small>Lead</small>
          </li>

          <li data-target="sybarip1">
            <span>at.inc/SybarIP</span>
            <small>Lead</small>
          </li>

          <li data-target="beehive1">
            <span>at.inc/Beehive</span>
            <small>Lead</small>
          </li>

          <li data-target="cortex1">
            <span>at.inc/Cortex</span>
            <small>Lead</small>
          </li>
        </ul>
      </div>

      <div column="12 s6" class="companies-descriptions">
        <img class="companies-illustration" src="static/images/illustration-3.svg">

        <section class="company-description thewild">
          <h4>About TheWild</h4>
          <p>Connecting IP and R&D teams on an IP learning platform for enterprises that focus on innovation.</p>

          <h4>Industry</h4>
          <p>Enterprise Software</p>

          <h4>Investment Type</h4>
          <p>Lead</p>
        </section>

        <section class="company-description sybarip">
          <h4>About SybarIP</h4>
          <p>Connecting IP and R&D teams on an IP learning platform for enterprises that focus on innovation.</p>

          <h4>Industry</h4>
          <p>Enterprise Software</p>

          <h4>Investment Type</h4>
          <p>Lead</p>
        </section>

        <section class="company-description beehive">
          <h4>About Beehive</h4>
          <p>Connecting IP and R&D teams on an IP learning platform for enterprises that focus on innovation.</p>

          <h4>Industry</h4>
          <p>Enterprise Software</p>

          <h4>Investment Type</h4>
          <p>Lead</p>
        </section>

        <section class="company-description cortex">
          <h4>About Cortex</h4>
          <p>Connecting IP and R&D teams on an IP learning platform for enterprises that focus on innovation.</p>

          <h4>Industry</h4>
          <p>Enterprise Software</p>

          <h4>Investment Type</h4>
          <p>Lead</p>
        </section>

        <section class="company-description thewild1">
          <h4>About TheWild</h4>
          <p>Connecting IP and R&D teams on an IP learning platform for enterprises that focus on innovation.</p>

          <h4>Industry</h4>
          <p>Enterprise Software</p>

          <h4>Investment Type</h4>
          <p>Lead</p>
        </section>

        <section class="company-description sybarip1">
          <h4>About SybarIP</h4>
          <p>Connecting IP and R&D teams on an IP learning platform for enterprises that focus on innovation.</p>

          <h4>Industry</h4>
          <p>Enterprise Software</p>

          <h4>Investment Type</h4>
          <p>Lead</p>
        </section>

        <section class="company-description beehive1">
          <h4>About Beehive</h4>
          <p>Connecting IP and R&D teams on an IP learning platform for enterprises that focus on innovation.</p>

          <h4>Industry</h4>
          <p>Enterprise Software</p>

          <h4>Investment Type</h4>
          <p>Lead</p>
        </section>

        <section class="company-description cortex1">
          <h4>About Cortex</h4>
          <p>Connecting IP and R&D teams on an IP learning platform for enterprises that focus on innovation.</p>

          <h4>Industry</h4>
          <p>Enterprise Software</p>

          <h4>Investment Type</h4>
          <p>Lead</p>
        </section>
      </div>
    </div>
  </div>
</section>

<section id="team" class="team-section" container="narrow">
  <div grid>
    <div column="12 s7">
      <div class="team-section-header">
        <h1>Our Team</h1>
        <p class="section-intro">We provide strategic, financial, and operational support and ride the wave alongside you from Day 1.</p>
      </div>
    </div>

    <div class="team-list" column="12 s5">
      <article class="team-member">
        <div class="picture">
          <img src="static/images/nadav.jpg" alt="Nadav Eylath">
        </div>

        <header>
          <h3>Nadav Eylath</h3>

          <ul class="social-links">
            <li><a href="#"><img src="static/images/icon-twitter.svg"></a></li>
            <li><a href="#"><img src="static/images/icon-linkedin.svg"></a></li>
          </ul>
        </header>

        <ul class="meta">
          <li class="title">Founder, Managing Partner</li>
          <li class="location">San Francisco, CA</li>
        </ul>

        <p>Nadav has worked with notable companies from his previous fun including Netlify, Wecover, Honeybook, Future Family, Disclousures, Peer5, and Betterhealh.</p>
      </article>

      <article class="team-member">
        <header>
          <h3>Maor Gordon</h3>

          <ul class="social-links">
            <li><a href="#"><img src="static/images/icon-twitter.svg"></a></li>
            <li><a href="#"><img src="static/images/icon-linkedin.svg"></a></li>
          </ul>
        </header>

        <ul class="meta">
          <li class="title">Venture Partner</li>
          <li class="location">New York City</li>
        </ul>
      </article>

      <article class="team-member">
        <header>
          <h3>Andy Campo</h3>

          <ul class="social-links">
            <li><a href="#"><img src="static/images/icon-twitter.svg"></a></li>
            <li><a href="#"><img src="static/images/icon-linkedin.svg"></a></li>
          </ul>
        </header>

        <ul class="meta">
          <li class="title">Venture Partner</li>
          <li class="location">Lisbon</li>
        </ul>
      </article>

      <article class="team-member">
        <header>
          <h3>Dotan Schmidt</h3>

          <ul class="social-links">
            <li><a href="#"><img src="static/images/icon-twitter.svg"></a></li>
            <li><a href="#"><img src="static/images/icon-linkedin.svg"></a></li>
          </ul>
        </header>

        <ul class="meta">
          <li class="title">Venture Partner</li>
          <li class="location">Lisbon</li>
        </ul>
      </article>
    </div>
  </div>
</section>

<section id="contact" class="contact-section" container="narrow">
  <div grid="center">
    <div column="12 s5 #2 s#1">
      <h2>We want to be <br>there at the <br>very beginning.</h1>
      <p class="section-intro">We see the founders who are courageous enough to design bold technology at a global scale, even when that technology is just an idea.</p>
      <p class="section-intro">Whether you’re at incorporation, at the seed stage, or still at your day job setting a vision for something new, we want to hear what makes you ready to dive in. And be sure, we are eager to invest at this stage.</p>

      <p class="huge-cta-mobile">
        <a href="#" title="Get in touch with us">
          Say Hello
        </a>
      </p>
    </div>

    <a href="#" column="12 s7 #1 s#2" class="-right" title="Get in touch with us">
      <img class="-fluid" src="static/images/illustration-4.svg">

      <p class="huge-cta">Say Hello</p>
    </a>
  </div>
</section>